<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>중고 자동차 쇼핑몰</h1>
    <% console.log("hello ejs")
    console.log(carList) 
    for(let car of carList) {
    %>
    <p> <%=car.no %>, <%=car.title %>, <%=car.price %>, <%=car.company %>, <%=car.year %></p>
    <%
    }
    %>
    <p>사용자: <%=userName%></p>
</body>

</html>